body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #a3c6f1;
}

.buttonPosition {
    margin-left: 39%;
}

#buttonShadow {
    box-shadow: 5px 5px 5px 7px cyan;
    color: blueviolet;
    font-weight: 600;
}